examples/bert-sentiment-analysis/flow.json
[
  {
    "id": "3b8fa5ec.1fd73a",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "f7a71d53.50b8f",
    "type": "ui_group",
    "z": "",
    "name": "Comments",
    "tab": "ecb45bd0.ba2888",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ecb45bd0.ba2888",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "752a135f.c4951c",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "reset": false
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "c3544337.d0992",
    "type": "function",
    "z": "3b8fa5ec.1fd73a",
    "name": "Read Comments",
    "func": "const VIDEO_ID = msg.payload.video_id||'M1wLtAXDgqg';\nconst MAX_COMMENTS = msg.payload.max_comments||10;\nconst commentsStream = global.get('commentsStream');\nconst limit = commentsStream.limit(MAX_COMMENTS);\nconst stream = commentsStream.get(VIDEO_ID).pipe(limit);\n\nstream.on('data', function (comment) {\n    node.send({payload: comment.text});\n});\n",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 100,
    "wires": [
      [
        "e05e66b1.18edc"
      ]
    ]
  },
  {
    "id": "7cbe0e72.02dcd8",
    "type": "inject",
    "z": "3b8fa5ec.1fd73a",
    "name": "",
    "topic": "",
    "payload": "{\"video_id\":\"9bZkp7q19f0\",\"max_comments\":\"100\"}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 130,
    "y": 100,
    "wires": [
      [
        "c3544337.d0992"
      ]
    ]
  },
  {
    "id": "2fe60b3a.bacb84",
    "type": "change",
    "z": "3b8fa5ec.1fd73a",
    "name": "review",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "review",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 180,
    "wires": [
      [
        "3c9026e5.2691aa"
      ]
    ]
  },
  {
    "id": "f2965ef3.911ad8",
    "type": "change",
    "z": "3b8fa5ec.1fd73a",
    "name": "score",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "score",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "complete",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 220,
    "wires": [
      [
        "3c9026e5.2691aa"
      ]
    ]
  },
  {
    "id": "3c9026e5.2691aa",
    "type": "function",
    "z": "3b8fa5ec.1fd73a",
    "name": "merge",
    "func": "let queue = flow.get('queue');\nif (queue === undefined) {\n    queue = [];\n    flow.set('queue', queue);\n}\nif (msg.complete === undefined) {\n    queue.push(msg.payload);\n    node.done();\n} else {\n    const txt = queue.shift();\n    node.send( { payload: { txt: txt,\n                            positive: msg.payload.positive, \n                            negative: msg.payload.negative\n    }} );\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 570,
    "y": 180,
    "wires": [
      [
        "d31e8ff7.ee2f2"
      ]
    ]
  },
  {
    "id": "d31e8ff7.ee2f2",
    "type": "debug",
    "z": "3b8fa5ec.1fd73a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 730,
    "y": 180,
    "wires": []
  },
  {
    "id": "e05e66b1.18edc",
    "type": "function",
    "z": "3b8fa5ec.1fd73a",
    "name": "Sanitize",
    "func": "function stripPunctuation(text){\n  text = text.replace(/[,-\\/#!$%\\^&\\*;:{}=\\-_`~()@\\+\\?><\\[\\]\\+]/g,\"\");\n  text = text.replace(/[\\t\\n\\r]/g, \"\")\n  return text;\n}\nvar payload = msg.payload;\nmsg.payload = stripPunctuation(payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 140,
    "y": 180,
    "wires": [
      [
        "a5a515cb.a44d3",
        "2fe60b3a.bacb84"
      ]
    ]
  },
  {
    "id": "a5a515cb.a44d3",
    "type": "bert-tokenizer",
    "z": "3b8fa5ec.1fd73a",
    "name": "",
    "url": "",
    "x": 160,
    "y": 240,
    "wires": [
      [
        "6dee4f23.bc5db8"
      ]
    ]
  },
  {
    "id": "ac34574f.b32b08",
    "type": "tf-model",
    "z": "3b8fa5ec.1fd73a",
    "modelURL": "https://max-cdn.cdn.appdomain.cloud/max-text-sentiment-classifier/tfjs/0.1.0/model.json",
    "outputNode": "loss/Softmax",
    "name": "BERT Sentiment Model",
    "x": 150,
    "y": 360,
    "wires": [
      [
        "681e5a87.83cb3c"
      ]
    ]
  },
  {
    "id": "6dee4f23.bc5db8",
    "type": "tf-function",
    "z": "3b8fa5ec.1fd73a",
    "name": "To named tensor map",
    "func": "msg.payload =\n{\n    input_ids_1 : tf.tensor(msg.payload.inputIds.slice(0,128), [1,128], \"int32\"),\n    segment_ids_1 : tf.tensor(msg.payload.segmentIds.slice(0,128), [1,128], \"int32\"),\n    input_mask_1 : tf.tensor(msg.payload.inputMask.slice(0,128), [1,128],\"int32\")\n}\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "x": 160,
    "y": 300,
    "wires": [
      [
        "ac34574f.b32b08"
      ]
    ]
  },
  {
    "id": "681e5a87.83cb3c",
    "type": "tf-function",
    "z": "3b8fa5ec.1fd73a",
    "name": "Post Processing",
    "func": "const res = tf.tidy( () => {\n    return msg.payload.squeeze([0]).arraySync()\n    \n})\nreturn {payload: {positive: res[0],\n                  negative: res[1]}\n        }\n",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 340,
    "wires": [
      [
        "f2965ef3.911ad8",
        "574c5d24.c3879c"
      ]
    ]
  },
  {
    "id": "574c5d24.c3879c",
    "type": "function",
    "z": "3b8fa5ec.1fd73a",
    "name": "Counting",
    "func": "var pos_count = context.get('pos_count')||0;\nvar neg_count = context.get('neg_count')||0;\nif (msg.payload==\"clear\") {\n    console.log(\"Reset count to 0.\")\n    pos_count = 0;\n    neg_count = 0;\n    context.set('pos_count',pos_count);\n    context.set('neg_count',neg_count);\n}\nif (msg.payload[\"positive\"] > 0.5) {\n    console.log(\"Positive\");\n    pos_count += 1;\n    // store the value back in context\n    context.set('pos_count',pos_count);\n    // put it in the outgoing msg object\n    msg.topic = \"Positive\";\n    msg.payload = pos_count;\n} \nif (msg.payload[\"negative\"] > 0.5){\n    console.log(\"Negative\");\n    neg_count += 1;\n    // store the value back in context\n    context.set('neg_count',neg_count);\n    // put it in the outgoing msg object\n    msg.topic = \"Negative\";\n    msg.payload = neg_count;\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 340,
    "wires": [
      [
        "c46cca66.e339a"
      ]
    ]
  },
  {
    "id": "c46cca66.e339a",
    "type": "ui_chart",
    "z": "3b8fa5ec.1fd73a",
    "name": "Chart",
    "group": "f7a71d53.50b8f",
    "order": 0,
    "width": "6",
    "height": "6",
    "label": "",
    "chartType": "bar",
    "legend": "false",
    "xformat": "mm:ss",
    "interpolate": "linear",
    "nodata": "Waiting for comments",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#e83029",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#9d98d6",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 770,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "5e47f9e5.d64b38",
    "type": "inject",
    "z": "3b8fa5ec.1fd73a",
    "name": "Reset count",
    "topic": "",
    "payload": "clear",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 510,
    "y": 400,
    "wires": [
      [
        "574c5d24.c3879c"
      ]
    ]
  },
  {
    "id": "eae9ef6f.66caf",
    "type": "inject",
    "z": "3b8fa5ec.1fd73a",
    "name": "Clear chart",
    "topic": "",
    "payload": "[]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 700,
    "y": 400,
    "wires": [
      [
        "c46cca66.e339a"
      ]
    ]
  }
]
